[include]
	path = {{ ansible_facts['env']['HOME'] }}/.dotfiles/files/git/.gitconfig
[core]
	excludesfile = {{ ansible_facts['env']['HOME'] }}/.dotfiles/files/git/.gitignore
[safe]
	directory = /opt/homebrew
[user]
  name = {{ git_name }}
  email = {{ git_email }}
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
