[alias]
    # View the current working tree status using the short format
    s = status -sb

    # Pushing
    pr = push --set-upstream origin

    # Switch to a branch, creating it if necessary
    go = checkout

    # Interactive rebase with the given number of latest commits
    reb = "!r() { git rebase -i HEAD~$1; }; r"

    # diff the staged files
    ds = diff --staged

    # Ammend last commit
    amend = commit --amend -C HEAD

    # Undo the previous commit
    undo = reset --soft HEAD^

    # look up the commit
    ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=relative

    # Remove branches that have already been merged with main.
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

    # stop work and commit everything to a wip commit
    park = "!p(){ git add -A && git commit -m "WIP";};p"

[color]
    ui = true

[core]
    editor = vim
    quotepath = false
    excludesfile = ~/.gitignore

    # Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
    whitespace = space-before-tab,indent-with-non-tab,trailing-space

[commit]
    gpgsign = true

[push]
    default = simple
    autoSetupRemote = true

[pull]
    ff = only

[init]
    defaultBranch = main

[user]
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMTu7IVrhNJ5rBwRw3ov8F3ySms3tsvbsMyhNZnuXPzZ

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
