"*":
  "autocomplete-plus":
    autoActivationDelay: 200
    confirmCompletion: "enter"
    maxVisibleSuggestions: 6
    suggestionListFollows: "Cursor"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "archive-view"
      "welcome"
      "php-cs-fixer"
      "svg-preview"
      "metrics"
      "language-vue-component"
      "editorconfig"
      "about"
      "autocomplete-atom-api"
      "autosave"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "exception-reporting"
      "grammar-selector"
      "incompatible-packages"
      "keybinding-resolver"
      "link"
      "notifications"
      "open-on-github"
      "package-generator"
      "spell-check"
      "styleguide"
      "update-package-dependencies"
      "language-gherkin"
      "symbols-view"
      "line-ending-selector"
      "encoding-selector"
      "language-javascript-jsx"
      "pigments"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/code"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    lineHeight: 2.5
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  linter:
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
  "linter-php": {}
  "linter-phpcs":
    executablePath: "/Users/robertrhoades/.composer/vendor/bin/phpcs"
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "markdown-preview": {}
  metrics:
    userId: "3150e207446e4ef590937ee0db280a50927ff288"
  "package-generator":
    createInDevMode: true
  pigments:
    ignoredBufferNames: [
      "*.html"
    ]
  "release-notes":
    viewedVersion: "0.81.0"
  "seti-ui":
    compactView: true
    disableAnimations: true
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  "writer-syntax":
    themeVariant: "Dark"
