"*":
  "advanced-open-file":
    createDirectories: true
  "atom-autocomplete-php": {}
  "atom-material-ui":
    fonts: {}
    panels: {}
    tabs:
      rippleAccentColor: true
      showTabIcons: "Show on all tabs"
    treeView: {}
    ui: {}
  "autocomplete-plus":
    autoActivationDelay: 200
    confirmCompletion: "enter"
    maxVisibleSuggestions: 6
    suggestionListFollows: "Cursor"
  "bracket-matcher":
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  core:
    disabledPackages: [
      "archive-view"
      "welcome"
      "php-cs-fixer"
      "svg-preview"
      "metrics"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/code"
    themes: [
      "atom-material-ui"
      "duotone-dark-syntax"
    ]
  docblockr:
    align_tags: "shallow"
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    invisibles: {}
    lineHeight: 2
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "60eaadca-56e0-5abb-e08e-d746684a9aff"
  "file-icons":
    coloured: false
  linter:
    showErrorPanel: false
    showErrorTabProject: false
  "linter-php": {}
  "linter-phpcs":
    executablePath: "/Users/robertrhoades/.composer/vendor/bin/phpcs"
  "markdown-preview":
    breakOnSingleNewline: true
  metrics:
    userId: "3150e207446e4ef590937ee0db280a50927ff288"
  "package-generator":
    createInDevMode: true
  "php-cs-fixer":
    executablePath: "/Users/robertrhoades/.composer/vendor/bin/php-cs-fixer"
  pigments: {}
  "release-notes":
    viewedVersion: "0.81.0"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  "writer-syntax":
    themeVariant: "Dark"
